$primary-color: #1e45db;
$white: #fff;
$grey-bg: rgb(241, 249, 255);
$light-dark: #333333;
$secondary-color: #484848;
$text-grey: #858585;
$light-blue: #f1f9ff;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 10px;
}

body {
  width: 100%;
  height: 100%;
  color: $light-dark;
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}

.text-primary {
  color: $primary-color;
}

.flex-1 {
  flex: 1;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.6rem 2.4rem;
  gap: 1.9rem;
  color: $white;
  width: 196px;
  height: 5.7rem;
  border: none;
  outline: none;
  background: $primary-color;
  border-radius: 0.8rem;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  li {
    list-style-type: none;
  }
}
a {
  text-decoration: none;
  color: inherit;
}

hr {
  color: rgb(196, 196, 196);
  height: 0.1px;
  border-width: 0px;
  background-color: rgba(196, 196, 196, 0.32);
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 15px;
  padding-right: 15px;
}

/* =========================================== */

header.header {
  font-size: 1.2rem;
  width: 100%;
  .container-box {
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $white;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.05));
    @media (max-width: 480px) {
      flex-direction: column;
      padding: 1rem;
      justify-content: center;
      align-items: center;
    }
  }
  .logo {
    width: 134px;
    img {
      width: 100%;
    }

    @media (max-width: 480px) {
      width: 80px;
    }
  }
  .center-details {
    display: flex;
    @media (max-width: 480px) {
      margin-top: 0.5rem;
    }
    span {
      margin-right: 0.2rem;
    }
    p:not(:last-child) {
      margin-right: 1rem;
    }
  }
  .right-details {
    @media (max-width: 480px) {
      margin-top: 0.5rem;
    }
    button {
      background-color: $primary-color;
      color: #fff;
      cursor: pointer;
      border: 2px solid $primary-color;
      border-radius: 4px;
      padding: 8px;
      font-size: 16px !important;
      font-weight: 500 !important;
      transition: box-shadow 0.3s ease, transform 0.3s ease,
        background-color 0.3s ease, -webkit-transform 0.3s ease !important;
    }

    &__item:not(:last-child) {
      margin-right: 3.2rem;
    }
  }
}

section.hero-container {
  background-color: $grey-bg;
  width: 100%;
  height: auto;
  padding-bottom: 4rem;

  .container {
    min-height: 843px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }

  .details {
    max-width: 1036px;
    margin: auto;
    padding-top: 106px;
    h1 {
      font-style: normal;
      font-weight: 600;
      font-size: 4.8rem;
      line-height: 7.2rem;
      text-align: center;
      letter-spacing: -0.8px;
      color: $light-dark;
    }
    p {
      font-style: normal;
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 2.8rem;
      text-align: center;
      color: $secondary-color;
      margin: auto;
      margin-top: 2.6rem;
      max-width: 613px;
    }
    button {
      margin: auto;
      margin-top: 2.6rem;
    }
  }

  @media (max-width: 480px) {
    min-height: 300px;
    .details {
      h1 {
        font-size: 2.4rem;
        line-height: 2.6rem;
      }
      p {
        font-size: 1.2rem;
        line-height: 2rem;
        margin-top: 1.6rem;
      }
      button {
        padding: 1.1rem 2rem;
        height: 3.7rem;
      }
    }
  }

  .hero-cards {
    margin-top: 8rem;
    justify-content: space-evenly;

    .card {
      font-size: 2.4rem;
      background-color: $white;
      border-radius: 18px;
      min-width: 430px;

      .img-container {
        margin-left: -14rem;
        margin-bottom: -0.9rem;
        img {
          width: 100%;
        }
      }

      &__details {
        padding: 60px 46.5px;
        padding-left: 0;
        margin-left: 3rem;
      }

      button {
        margin-top: 2rem;
        width: 300px;
      }

      @media (max-width: 480px) {
        min-width: 95%;
        margin: auto;
      }
    }
    .card-2 {
      .card__details {
        text-align: right;
      }
      .img-container {
        margin-left: 0;
        margin-bottom: -0.9rem;
        margin-right: -19rem;
        img {
          width: 100%;
        }
      }
    }

    @media (max-width: 480px) {
      flex-direction: column;
      flex-wrap: 2rem;

      .card {
        .img-container {
          margin: 0;
          width: 50%;
          text-align: center;
        }
        flex-direction: column;
        margin-bottom: 2rem;
        justify-content: center;
        align-items: center;

        &__details {
          padding: 0;
          padding-top: 1.6rem;
          width: 100%;
          text-align: center;
          margin-left: 0;

          button {
            margin: auto;
            margin-top: 2rem;
            margin-bottom: 2rem;
            width: 90%;
          }
        }
      }
      .card-2 {
        flex-direction: column-reverse;

        .img-container {
          margin: 0;
        }
        .card__details {
          p {
            text-align: center;
          }
        }
      }
    }
  }
}

section.featured-campaigns {
  margin-top: 8rem;
  margin-bottom: 8rem;
  .heading {
    font-size: 2.3rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    padding-left: 8px;
    margin-bottom: 20px;
    margin-top: 0;
    color: #201f23;
  }

  .feature {
    background: #fff;
    border: 1px solid rgba(33, 32, 30, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin-top: 15px;
    width: 100%;
    margin-left: 0;
  }
  .row {
    margin-bottom: 3rem;
    .feature-details {
      margin-left: 2rem;
    }
    .img-container {
      img {
        height: 55px;
        width: 55px;
      }
    }
    .left {
      font-size: 1.6rem;
      flex: 1;
      p.title {
        margin-bottom: 0.2rem;
      }
      a {
        color: $text-grey;
        text-decoration: none;
      }
    }
    .right {
      flex: 1;
      align-self: center;
      justify-self: center;
      .box {
        font-size: 1.6rem;
        text-align: center;
        p.platform {
          color: $text-grey;
          margin-bottom: 1rem;
        }

        &:not(:last-child) {
          margin-right: 2rem;
        }
      }
    }

    @media (max-width: 480px) {
      flex-direction: column;
      width: 95%;
      margin: auto;
      margin-bottom: 3rem;
      .right {
        margin-top: 1.5rem;
        width: 100%;
        justify-content: space-between;
      }
    }
  }

  .right-feature-details {
    margin-left: 2rem;
  }

  .campaign-details {
    background: url('/assets/background-img.svg');
    background-position: 50%;
    background-size: cover;
    border-radius: 12px;
    position: -webkit-sticky;
    position: sticky;
    top: 105px;
    height: 324px;
    width: 324px;

    .details {
      padding: 3rem;
      height: 100%;
      flex-direction: column;
      justify-content: space-between;

      h2 {
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 38px;
        letter-spacing: -0.011em;
        text-align: left;
        color: $white;
        margin-bottom: 2rem;
      }

      p {
        font-size: 14px;
        font-weight: 300;
        line-height: 25px;
        letter-spacing: 0.6px;
        color: $white;
      }

      .bottom-details {
        a {
          display: block;
          letter-spacing: -0.011em;
          color: #201f23;
          border-radius: 5px;
          width: 100%;
          padding: 10px 15px;
          cursor: pointer;
          font-size: 16px !important;
          font-weight: 500 !important;
          border: 2px solid #fff;
          text-decoration: none;
          text-align: center;
          background-color: $white;
        }
      }
    }
  }

  .featured-container {
    @media (max-width: 480px) {
      flex-direction: column;
      width: 100%;
      .right-feature-details {
        margin-left: 0;
      }
      .campaigns-details {
        width: 100%;
      }
      .campaign-details {
        margin: 0;
        margin: auto;
        margin-bottom: 2rem;
        width: 90%;
      }
    }
  }
}

section.campaign-container {
  background: $light-blue;
  margin-top: 4rem;
}

footer.footer-section {
  margin: 2rem 0;
  margin-bottom: 8rem;
  section {
    font-size: 1.6rem;
  }

  section.top {
    justify-content: space-between;
    padding: 2rem 0;
    p {
      font-size: 2rem;
      font-weight: 500;
      margin-bottom: 2rem;
    }

    ul {
      li {
        &:not(:last-child) {
          margin-bottom: 1.2rem;
        }

        .mail,
        .number {
          text-decoration: underline;
          color: #000;
        }
      }
    }
  }

  section.bottom {
    .socials {
      .social {
        height: 40px;
        width: 40px;
        background-color: rgb(100, 100, 100, 0.3);

        display: flex;
        justify-content: center;
        align-items: center;

        margin-right: 2rem;
      }
    }
  }

  @media (max-width: 480px) {
    padding: 0 2rem;
    section.top {
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: flex-start;

      section {
        margin-bottom: 4rem;
      }
    }
    section.bottom {
      flex-direction: column;

      .socials {
        margin-top: 1.5rem;
      }
    }
  }
}
